@layer components {
  /* Links that are buttons use role="button" */
  [role="button"] {
    display: inline-block;
    text-decoration: none;
  }

  :where(button, input[type="submit"], input[type="button"], input[type="reset"], [role="button"] ) {
    --button-surface: var(--color-primary);
    --button-text: var(--color-primary-inverse);

    background-color: var(--button-surface);
    color: var(--button-text);
    box-shadow: var(--shadow-small);
    padding: var(--space-2xs) var(--space-xs);
    border: var(--border-width) solid var(--button-surface);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height);
    text-align: center;
    cursor: pointer;

    /* auto-compute hover and active states */
    &:is([aria-current], :hover) {
      background-color: oklch(from var(--button-surface) calc(l * var(--hover-multiplier)) c h);
      border-color: oklch(from var(--button-surface) calc(l * var(--hover-multiplier)) c h);
    }

    &:active {
      background-color: oklch(from var(--button-surface) calc(l * var(--hover-multiplier) * var(--hover-multiplier)) c h);
      border-color: oklch(from var(--button-surface) calc(l * var(--hover-multiplier) * var(--hover-multiplier)) c h);
    }

    /* size variations */
    &.small {
      padding: var(--space-3xs) var(--space-2xs);
      font-size: var(--size-small);
    }

    &.large {
      padding: var(--space-xs) var(--space-s);
      font-size: var(--size-h4);
    }

    /* color variations */
    &.primary {
      --button-surface: var(--color-primary);
      --button-text: var(--color-primary-inverse);
    }

    &.accent {
      --button-surface: var(--color-accent);
      --button-text: var(--color-accent-inverse);
    }

    &.danger {
      --button-surface: var(--color-danger);
      --button-text: var(--color-danger-inverse);    
    }

    &.success {
      --button-surface: var(--color-success);
      --button-text: var(--color-success-inverse);
    }

    &.warning {
      --button-surface: var(--color-warning);
      --button-text: var(--color-warning-inverse);      
    }

    &.info {
      --button-surface: var(--color-info);
      --button-text: var(--color-info-inverse);
    }

    &.contrast {
      --button-surface: var(--color-contrast);
      --button-text: var(--color-contrast-inverse);      
    }

    &.neutral,
    &.neutral.secondary {
      --button-surface: transparent;
      --button-text: var(--color-text);

      border: var(--border-width) solid var(--color-border-strong);

      &:hover {
        --button-surface: var(--color-fill);
      }

      &:active {
        --button-surface: var(--color-fill-hover);
      }
    }
  }

  /* Secondary and tertiary buttons color support */
  :where(button, input[type="submit"], input[type="button"], [role="button"]):is(.secondary, .tertiary),
  input[type="reset"] {
    &.accent {
      --button-text: var(--color-accent);
    }

    &.danger {
      --button-text: var(--color-danger);
    }

    &.success {
      --button-text: var(--color-success);
    }

    &.warning {
      --button-text: var(--color-warning);
    }

    &.info {
      --button-text: var(--color-info);
    }

    &.contrast {
      --button-text: var(--color-contrast);
    }
  }

  /* Secondary buttons have outline style */
  :where(button, input[type="submit"], input[type="button"], [role="button"]).secondary,
  input[type="reset"] {
    --button-surface: transparent;
    --button-text: var(--color-primary);

    color: var(--button-text);
    border: var(--border-width) solid var(--button-text);

    &:is([aria-current], :hover) {
      --button-surface: var(--color-primary-fill);
    }
    
    &:active {
      --button-surface: var(--color-primary-fill-hover);
    }

    &.accent {
      &:is([aria-current], :hover) {
        --button-surface: var(--color-accent-fill);
      }

      &:active {
        --button-surface: var(--color-accent-fill-hover);
      }
    }

    &.danger {
      &:is([aria-current], :hover) {
        --button-surface: var(--color-danger-fill);
      }
      
      &:active {
        --button-surface: var(--color-danger-fill-hover);
      }
    }

    &.success {
      &:is([aria-current], :hover) {
        --button-surface: var(--color-success-fill);
      }
      
      &:active {
        --button-surface: var(--color-success-fill-hover);
      }
    }

    &.warning {
      &:is([aria-current], :hover) {
        --button-surface: var(--color-warning-fill);
      }
      
      &:active {
        --button-surface: var(--color-warning-fill-hover);
      }
    }

    &.info {
      &:is([aria-current], :hover) {
        --button-surface: var(--color-info-fill);
      }
      
      &:active {
        --button-surface: var(--color-info-fill-hover);
      }
    }

    &.contrast {
      &:is([aria-current], :hover) {
        --button-surface: var(--color-fill);
      }
      
      &:active {
        --button-surface: var(--color-fill-hover);
      }
    }
  }

  /* Tertiary buttons are like links */
  :where(button, input[type="submit"], input[type="button"], [role="button"]).tertiary{
    --button-surface: transparent;
    --button-text: var(--color-primary); 

    border-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    text-decoration-thickness: var(--text-decoration-thickness);

    &:not(:is(:focus, [aria-current], :hover, :active)) {
      --button-surface: transparent;
    }

    &:is(:focus, [aria-current], :hover, :active ) {
      text-decoration-thickness: calc(var(--text-decoration-thickness) + var(--link-decoration-thickness-hover));
    }

    &.neutral {
      --button-text: var(--color-text)
    }
  }

  /* Disabled buttons */
  :where(button, [type="submit"], [type="button"], [type="reset"], [role="button"]):is([disabled], [aria-disabled="true"]),
  :where(fieldset[disabled]) :is(button, [type="submit"], [type="button"], [type="reset"], [role="button"]),
  a[role="button"]:not([href]) {
    opacity: 0.5;
    pointer-events: none;
  }

  /* Icon-only buttons */
  :where(button, [role="button"]):is(.icon-only, .close) {
    --button-surface: transparent;
    --button-text: var(--color-text);
    --icon-size: 1em;

    padding: var(--space-xs);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;

    &:is(:hover, :focus-visible) {
      --button-surface: var(--color-fill);
      --button-text: var(--color-text);
    }

    &:active {
      --button-surface: var(--color-fill-hover);
    }
  }

  /* Close button provides X icon */
  :where(button, [role="button"]).close::before {
    content: "";
    height: var(--icon-size);
    width: var(--icon-size);
    background-color: currentcolor;
    mask: var(--icon-close) center / contain no-repeat;
  }
}